body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 14px; /* Decrease font size */
}

.login-form {
  background: #f7f7f7;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
  margin-bottom: 30px;
  font-size: 1.5rem; /* Decrease font size */
}

.form-control {
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 0.9rem; /* Decrease font size */
}

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  max-width: 400px; /* Set maximum width */
  width: 100%; /* Ensure full width on smaller screens */
  margin: 10px auto 0 auto; /* Center horizontally with top padding */
}

.navbar {
  margin-bottom: 0; /* Remove space under navbar */
}
